.svg-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/admin/F4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.node {
    cursor: pointer;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}