@media (max-width: 768px) {
    /* Adjust styles for tablet and smaller screens */
    /* ... */
  }
  
  /* Media query for screens up to 480px (typical mobile size) */
  @media (max-width: 480px) {
    /* Adjust styles for mobile screens */
    /* ... */
  }
  .button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
  }
  
  button {
    width: 80%; /* Adjust width as needed */
    /* ... other styles */
  }
  p {
    font-size: 1rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
.button-container button:focus {
    outline: 2px solid #ff9d00; /* Beispiel für einen blauen Rand */
}